.form-group {
  display: flex;
  justify-content: center;
  align-items: inherit;
}

.form-body {
  display: inherit;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-sans-serif);
}

.form-title {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-sans-serif);
}

.form-field-group {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  margin-bottom: 2em;
}

.form-field-group label{
  font-weight: bold;
}