
.form-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
  font-family: var(--font-sans-serif);
}

.form-title {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-sans-serif);
}

.form-field-group {
  box-sizing: border-box;
  margin-bottom: 1rem;
  width: 100%;
}

.form-label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.form-input-text{
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid grey;
  width: 100%;
}

.form-input-textarea{
  font-size: 1rem;
  resize: vertical;
  padding: 0.5rem;
  width: 100%;
}

.form-input-select{
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid grey;
}

.form-action-container{
  display: flex;
  flex-direction: row;
}

.form-action-container > * {
  margin-right: 1em ;
}